html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
header {
    width: auto;
    height: 25%;
    border: 1px,solid,black;
}
header div {
    width: auto;
}
#header-icon {
    background-color:#0A91AB;
    height: 80%;
    border-bottom: solid,1px,black;
}
#sticky-header {
    background-color: #FFC045;
    border-bottom: solid,1px,black;
    height: 20%;
    display: flex;
    justify-content: center;
}
header div a {
    font-size: 14px;
    text-underline-offset: none;
    fonr
    margin: auto;
    margin-left:8px;
    margin-right:8px;
}